SUPABASE_URL=https://ccrnlhokaqhmeydjcmes.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjcm5saG9rYXFobWV5ZGpjbWVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MjY0MjksImV4cCI6MjEwNDIwMjQyOX0.ZU7IfzpmAOIM93NALailI6FfUxz9uJxvW6OmDfR9L7U
DATABASE_URL=postgresql://postgres:Vasil@2027%gate@db.ccrnlhokaqhmeydjcmes.supabase.co:5432/postgres
FRONTEND_URL=http://localhost:3000
PORT=8001
HOST=0.0.0.0
ENVIRONMENT=development
DATA_MODE=PRODUCTION
